@import "../vars";
@import "../utils";

.window__about > .col {
  &:first-child,
  &:last-child {
    opacity: 0;
    animation: 1s forwards 1s reset;
  }

  &:first-child {
    transform: translateX(-50px);
  }

  &:last-child {
    transform: translateY(50px);
  }
}

.title {
  margin-bottom: 20px;
  text-align: center;

  > * {
    display: block;
  }

  > big {
    font-size: 200%;
  }

  b {
    color: $red;
  }

  > span {
    opacity: 0.5;
  }
}

.avatar {
  padding: 5px;
  border: 1px solid $primary;
  margin-bottom: 10px;
}

.intro {
  margin-bottom: 20px;
  text-align: justify;

  table th {
    text-align: left;
  }
}

.button-group {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  padding: 8px 12px;
  text-decoration: none;
  color: $primary;
  border: 1px solid $primary;
  box-sizing: border-box;
  position: relative;
  transition: color 0.4s;

  > .react-icons {
    margin-right: 5px;
  }
}

@media only screen and (min-width: 600px) {
  .button-group {
    flex-direction: column;

    > .button {
      width: 100%;
      margin: 8px auto;
    }
  }

  .title {
    text-align: initial;
  }
}
