@import "../vars";
@import "../utils";

.window__about > .col {
  &:first-child,
  &:last-child {
    opacity: 0;
    animation: 1s forwards 1s reset;
  }

  &:first-child {
    transform: translateX(-50px);
  }

  &:last-child {
    transform: translateY(50px);
  }
}

.title {
  margin-bottom: 20px;
  text-align: center;

  > * {
    display: block;
  }

  > big {
    font-size: 200%;
  }

  b {
    color: $red;
  }

  > span {
    color: #888;
  }
}

.avatar {
  padding: 5px;
  border: 1px solid $primary;
  margin-bottom: 6px;
}

.intro {
  margin-bottom: 20px;
  text-align: justify;

  table th {
    text-align: left;
  }
}

.button-group > * {
  margin: 0 2px;
}

button,
.button {
  display: inline-block;
  padding: 8px 15px;
  text-decoration: none;
  color: $primary;
  border: 1px solid $primary;
  position: relative;
  transition: color 0.4s;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: $primary;
    z-index: -1;
    transition: height 0.4s ease-out;
  }

  &:hover {
    color: #fff;

    &::before {
      height: 100%;
    }
  }
}

@media only screen and (min-width: 600px) {
  .button-group {
    position: relative;

    &::before,
    &::after {
      content: "\00a0";
      position: absolute;
      top: calc(100% + 6px);
      left: 50%;
      display: block;
      width: 40%;
      padding: 4px 0;
      border: 1px solid #868f97;
      transform: translateX(-50%);
    }

    &::after {
      transform: translate(-50%, calc(100% + 12px));
      padding: 1px 0;
      width: 20%;
      border-color: #c7c7c7;
    }

    > * {
      display: block;
      margin: 8px auto;
      box-sizing: border-box;

      &:first-child {
        width: 80%;
        margin-top: 0;
      }

      &:last-child {
        width: 60%;
      }
    }
  }

  .title {
    text-align: initial;
  }
}
