@import "../vars";

.window__edu {
  display: initial;
  padding-left: 80px;
}

.container {
  position: relative;
  padding: 0 10px;
  margin: 10px 0;

  &:not(:first-child) {
    margin: 30px 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 100%;
    left: -40px;
    width: 6px;
    background: $secondary;
    animation: 1s forwards 1s draw-line;
  }

  > *:not(:first-child) {
    transform: translateX(-50px);
    opacity: 0;
    animation: 1s forwards 1s reset;
    margin: 0.5em 0;
  }

  > .icon {
    position: absolute;
    left: -62px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid $secondary;
    background: $primary;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 130%;
  }

  > .time {
    background: $lightblue;
    border-radius: 20px;
    display: inline-block;
    padding: 4px 10px;
    margin-bottom: 0;
  }

  > .degree {
    font-size: 125%;
  }

  > .place {
    filter: opacity(0.5);
  }
}

@keyframes draw-line {
  to {
    bottom: -30px;
  }
}
