@import "../vars";

.window__works {
  height: 100vh;
  overflow: hidden;
}

#works,
#details {
  display: none;
  overflow: auto;
  text-align: justify;
  background: none;

  &.active {
    display: block;
    width: 100%;
    height: 100%;
  }
}

#details {
  background: $lightblue;
  position: relative;
  padding: 15px;
  box-sizing: border-box;

  > .placeholder {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250%;
    text-align: center;
    transform: translate(-50%, -50%) rotate(-90deg);
    font-size: 150%;
    color: $primary;
  }
}

.collapse > svg {
  cursor: pointer;
}

.group {
  padding: 0 15px;
  margin: 15px 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  > li {
    width: 20%;
    height: auto;
    margin: 15px;
    cursor: pointer;
  }

  img {
    max-width: 50%;
    height: auto;
  }
}

@media only screen and (min-width: 600px) {
  .window__works > .col {
    &:first-child,
    &:last-child {
      opacity: 0;
      animation: 1s forwards 1s reset;
    }

    &:first-child {
      transform: translateX(-50px);
    }

    &:last-child {
      transform: translateY(50px);
    }
  }

  #works,
  #details {
    display: initial;
    transition: 1s width;

    &.active {
      width: 100%;
    }
  }

  #works {
    width: 30%;
  }

  #details {
    width: 100px;

    &.active > * {
      transform: translateY(15px);
      opacity: 0;
      animation: 1.5s 1s forwards reset;
    }
  }
}
