.Classic {
  $primary: #7ac2b9;
  $secondary: #a3d3cd;
  $light: #c3e5e1;
  $border: 3px solid;
  $shadow: 2px 2px #000;

  &#desktop {
    background: $primary;
  }

  .link {
    display: flex;
    flex-direction: column;
    background: initial;
    color: initial;
    border: $border #000;
    font-size: 2vmax;
    padding: 0;

    &.active,
    &:hover {
      background: $secondary;

      > span {
        transform: none;
      }
    }

    > span {
      &:first-child {
        background-size: 60%;
      }

      &:last-child {
        height: initial;
      }
    }
  }

  .minimized {
    .link > span:last-child {
      display: none;
    }
  }

  &#taskbar {
    background: $secondary;
    border-top: $border #000;
    color: #000;
  }

  &#menu {
    background: $light;
    border: $border #000;
    border-radius: 10px;
    box-shadow: $shadow;

    > .active {
      border: 2px solid #000;
      background: initial;
    }
  }

  .item:not(.right) {
    background: initial;
    border: 2px solid #000;
    border-top: 0;
    border-bottom: 0;
    box-shadow: $shadow;
  }

  .window {
    background: $secondary;
    border: $border;
    box-shadow: 4px 4px #000;
    border-radius: 15px;
  }

  .window__titlebar {
    background: none;
    border-bottom: $border;

    .window__title {
      color: #000;
    }

    .window__close {
      background: initial;
      color: #000;
      font-size: 300%;

      &::after {
        content: "×";
        margin-top: -15px;
        display: block;
      }
    }
  }

  button,
  .button {
    border-color: #000;
    box-shadow: $shadow;
    color: unset;

    &:hover {
      background: $light;
      color: unset;

      &::before {
        content: none;
      }
    }
  }

  .avatar {
    border-color: #000;
    box-shadow: $shadow;
  }

  .button-group {
    &::before,
    &::after {
      border-color: #000;
      box-shadow: $shadow;
    }
  }

  .col {
    background: none !important;
  }

  .CircularProgressbar-path {
    stroke: #000 !important;
  }

  .CircularProgressbar-trail {
    stroke: rgba(0, 0, 0, 0.05);
  }

  .window__edu {
    > .container::before {
      background: #000;
      width: 3px;
    }

    .icon {
      border: $border;
      background: $secondary;
      color: #000;
    }

    .time {
      background: none;
      border: 1px solid;
      border-radius: 0;
    }
  }
}
