.Neumorphism {
  $primary: #f2f3f7;
  $secondary: #292a38;
  $button: #1f735f;
  $shadow-outer: inset 3px 3px 6px transparent, inset -3px -3px 6px transparent,
    3px 3px 6px #ccccdf, -3px -3px 6px #fff;
  $shadow-inner: inset 3px 3px 6px #ccccdf, inset -3px -3px 6px #fff,
    3px 3px 6px transparent, -3px -3px 6px transparent;

  &#desktop {
    background: $primary;
  }

  .link {
    display: flex;
    flex-direction: column;
    background: initial;
    color: initial;
    box-shadow: $shadow-outer;
    border-radius: 8px;
    transition: 0.5s box-shadow;

    &.active,
    &:hover {
      box-shadow: $shadow-inner;

      > span {
        transform: none;
      }
    }

    > span {
      &:first-child {
        background-size: 60%;
      }

      &:last-child {
        height: initial;
        margin-top: 10px;
      }
    }
  }

  .minimized {
    .link > span:last-child {
      display: none;
    }
  }

  &#taskbar {
    background: $secondary;
  }

  #menu {
    background: $primary;
    box-shadow: $shadow-outer;
    border-radius: 5px;
    color: #000;

    > .active {
      background: initial;
      box-shadow: $shadow-inner;
    }
  }

  .item:not(.right) {
    background: $button;
    border: 0;
    height: 80%;
    border-radius: 6px;
    box-shadow: inset 3px 3px 0 $button, inset -3px -3px 0 $button,
      inset 3px 3px 10px rgba(0, 0, 0, 0.5),
      inset -3px -3px 10px rgba(255, 255, 255, 0.5);
  }

  .window {
    background: $primary;
    box-shadow: $shadow-outer;
    border-radius: 10px;
  }

  .window__titlebar {
    background: none;
    padding: 0 8px 0 0;

    .window__title {
      color: #fff;
      background: #c0cbdd;
      padding: 8px 20%;
      border-radius: 0 0 30px 30px;
      width: auto;
      margin-left: auto;
      text-align: center;
    }

    .window__close {
      border-radius: 50%;
      width: 20px;
      height: 20px;
    }
  }

  .col {
    background: none !important;
  }

  .avatar {
    border-color: transparent;
    box-shadow: $shadow-outer;
  }

  button,
  .button {
    border: none;
    color: initial;
    border-radius: 3px;
    box-shadow: $shadow-outer;
    transition: box-shadow 0.5s;

    &:hover {
      color: initial;
      box-shadow: $shadow-inner;
    }

    &::before {
      content: none;
    }
  }

  .button-group {
    &::before,
    &::after {
      box-shadow: $shadow-outer;
      border: none;
      border-radius: 3px;
    }
  }

  #details {
    box-shadow: $shadow-inner;
  }

  .CircularProgressbar {
    box-shadow: $shadow-outer;
    border-radius: 50%;
  }

  .CircularProgressbar-trail {
    stroke: transparent;
  }

  .window__edu {
    > .container::before {
      background: $button;
    }

    .icon {
      background: $primary;
      box-shadow: $shadow-inner;
      border-color: transparent;
      color: $secondary;
    }

    .time {
      box-shadow: $shadow-outer;
      background: none;
    }
  }
}
