* {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 100%;
  margin: 0;
  font-weight: normal;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
