.skill {
  width: 15%;
  margin: 15px;
  color: initial;
  text-decoration: none;
}

.icon {
  position: relative;

  > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: auto;
  }
}

.CircularProgressbar-path {
  transition: stroke-dashoffset 1s ease-in-out;
}

.CircularProgressbar-trail {
  stroke: #eee;
}
