@import "../vars";

.external {
  color: $primary;
  box-shadow: inset 0 -2px $secondary;
  font-weight: 600;
  text-decoration: none;
  transition: 0.2s ease-out;
  cursor: pointer;

  &:hover {
    box-shadow: inset 0 -8px lighten($secondary, 25);
  }
}
