@import "../vars";

#taskbar {
  height: $taskbar-h;
  background: $primary;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: relative;
  color: #fff;
  overflow: hidden;
}

.item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:not(:last-child) {
    background: $dark;
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    margin: 0 0.5rem;
    margin-top: -2px;
    border-bottom: 2px solid $secondary;

    > img {
      height: 60%;
      width: auto;
      margin-right: 15px;
    }
  }

  label {
    @extend .item;
  }

  &.right {
    margin: 0 0.5rem 0 auto;
  }
}

#settings {
  width: $taskbar-h - 1.5rem;
  height: $taskbar-h - 1.5rem;
  margin-left: 0.5rem;
  background: no-repeat center;
  background-size: contain;
  cursor: pointer;
  transition: transform 0.5s;

  &.active {
    transform: rotate(120deg);
  }
}

#menu {
  width: 20vmax;
  background: $primary;
  position: fixed;
  bottom: $taskbar-h;
  list-style: none;
  color: #fff;
  padding: 0.6rem;
  margin: 0 0.5rem;
  transform: initial;
  transition: transform 0.5s ease-out;

  &.hidden {
    transform: translateX(-110%);
  }

  > li {
    padding: 0.6rem;
    cursor: pointer;

    &.active {
      background: $dark;
    }

    > img {
      width: 100%;
      height: auto;
    }
  }
}

@media only screen and (min-width: 600px) {
  #menu {
    width: 16vmax;
  }
}