@import "../vars";

#taskbar {
  height: $taskbar-h;
  background: $primary;
  display: flex;
  align-items: center;
  position: relative;
  color: #fff;
  overflow: hidden;
}

.item {
  &:not(:last-child) {
    background: $dark;
    height: 100%;
    padding: 0 4vh;
    display: flex;
    align-items: center;
    margin: 0 1.5vh;
    margin-top: -2px;
    border-bottom: 2px solid $secondary;

    > img {
      height: 60%;
      width: auto;
      margin-right: 15px;
    }
  }

  &.right {
    margin: 0 1.5vh 0 auto;
    display: none;
  }
}

#settings {
  width: $taskbar-h - 4vh;
  height: $taskbar-h - 4vh;
  margin-left: 1.5vh;
  background: no-repeat center;
  background-size: contain;
  cursor: pointer;
  transition: transform 0.5s;

  &.active {
    transform: rotate(120deg);
  }
}

#menu {
  width: 20vmax;
  background: $primary;
  position: fixed;
  bottom: $taskbar-h;
  list-style: none;
  color: #fff;
  padding: 1vmax;
  margin: 0 0 1vmax 1vmax;
  transform: initial;
  transition: transform 0.5s ease-out;

  &.hidden {
    transform: translateX(-110%);
  }

  > li {
    padding: 1vmax;
    cursor: pointer;

    &.active {
      background: $dark;
    }

    > img {
      width: 100%;
      height: auto;
    }
  }
}

@media only screen and (min-width: 600px) {
  #taskbar .right {
    display: block;
  }

  #menu {
    width: 16vmax;
  }
}
