@import "../vars";

.window {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-height: 100%;
  transform: translate(-50%, -50%);
  background: $light;
  box-sizing: border-box;
  transition: transform 1s;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &.zooming {
    transform: translate(-50%, -50%) scale(0.4);
    backface-visibility: hidden;
  }
}

.window__titlebar {
  position: relative;
  background: $primary;
  padding: 8px;
  display: flex;
  align-items: center;

  .window__title {
    width: 100%;
    color: #fff;
    font-size: 130%;
  }

  .window__close {
    text-decoration: none;
    margin-left: auto;
    width: 30px;
    height: 30px;
    background: $red;
  }
}

.window__content {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
}

@media only screen and (min-width: 900px) {
  .window {
    width: 80%;
    max-height: 95%;
  }
}

@media only screen and (min-width: 600px) {
  .window__content {
    display: flex;
  }
}
