@import "../vars";

.window {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-height: 100%;
  transform: translate(-50%, -50%);
  background: $light;
  box-sizing: border-box;
  transition: transform 1s;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &.zooming {
    transform: translate(-50%, -50%) scale(0.5);
  }

  &__titlebar {
    position: relative;
    background: $primary;
    padding: 10px 10px 10px 15px;
    margin: 0;
    font-weight: normal;
    font-size: initial;
    display: flex;
    align-items: center;
  }

  &__title {
    width: 100%;
    color: #fff;
  }

  &__close {
    text-decoration: none;
    margin-left: auto;
    width: 26px;
    height: 26px;
    background: $red;
  }

  &__content {
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
  }
}

@media only screen and (min-width: 900px) {
  .window {
    width: 80%;
    max-height: 95%;
  }
}

@media only screen and (min-width: 600px) {
  .window__content {
    display: flex;
  }
}
