.col {
  position: relative;
  padding: 15px;

  &:nth-child(even) {
    background: $lightblue;
    height: 100%;
  }
}

.text--center {
  text-align: center;
}

.text--right {
  text-align: right;
}

.float--right {
  float: right;
}

.react-icons {
  vertical-align: text-bottom;
}

.paragraph {
  margin: 15px 0;
}

h3 {
  font-variant: small-caps;
  color: $primary;
}

/* ANIMATIONS */
@keyframes reset {
  to {
    opacity: 1;
    transform: initial;
  }
}
