@import "./vars";
@import "./utils";

// Themes
@import "./themes/classic";
@import "./themes/neumorph";

body {
  margin: 0;
  overflow: hidden;
}

#desktop {
  height: 100vh - $taskbar-h;
  background: $secondary center;
  background-size: cover;
  position: relative;
}

.social-media {
  position: absolute;
  bottom: 0;
  right: 0;
}

.social-link {
  margin: 3px;
  width: 4vmax;
  display: block;

  > img {
    width: 100%;
    height: auto;
  }
}
