// Global variables
$taskbar-h: 9vh;
$primary: #2c3e50;
$secondary: #1abc9c;
$light: #f8f9fa;
$dark: #17263b;
$red: #ed4c5a;

body {
  margin: 0;
}

#desktop {
  height: 100vh - $taskbar-h;
  background: $secondary center;
  background-size: cover;
  position: relative;

  .social-media {
    position: absolute;
    bottom: 0;
    right: 0;

    img {
      width: 4vmax;
      height: auto;
      margin: 3px;
    }
  }
}

// Components
@import "./components//Links.scss";
@import "./components/Taskbar.scss";
@import "./components/Window.scss";

// Themes
@import "./classic";
@import "./neumorph";
